@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Roboto:wght@300;400;700;900&display=swap');

$font-primary: Roboto, sans-serif;
$font-brand: Covered By Your Grace, cursive;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* a {
    text-decoration: none !important;
}


body {
    font-family: $font-primary;
    color: var(--bs-dark);
}

header {    
    background: linear-gradient(90deg, var(--bs-teal) 30%, var(--bs-dark) 30%);
    transition: all .5s ease;
    transform: translate(0, -100%);
    width: 100%;
    z-index: 2;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem !important;
    }

    .brand {
        font-family: $font-brand;
        font-size: 4rem;
        line-height: 2rem;
        color: var(--bs-dark);
    }

    .nav-top {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        #menu {
            display: none;
        }

        label {
            cursor: pointer;
            position: relative;
            display: block;
            height: 1.25rem;
            width: 1.875rem;
        }

        label span {
            position: absolute;
            display: block;
            height: 0.3125rem;
            width: 100%;
            border-radius: 2rem;
            background: var(--bs-teal);
            transition: 0.3s ease-in-out;
        }

        label span:nth-child(1) {
            top: 0;
        }

        label span:nth-child(2) {
            left: 0;
            top: 0.5rem;
        }

        label span:nth-child(3) {
            top: 1rem;
        }

        #menu:checked+label span:nth-child(1) {
            transform: rotate(-45deg);
            top: 0.5rem;
        }

        #menu:checked+label span:nth-child(2) {
            left: -0.5rem;
            opacity: 0;
        }

        #menu:checked+label span:nth-child(3) {
            transform: rotate(45deg);
            top: 0.5rem;
        }

        .nav-content {
            position: absolute;
            display: flex;
            flex-direction: column;
            visibility: hidden;
            opacity: 0;
            gap: 0.625rem;
            padding: 1rem;
            right: 3.5rem;
            top: 0.5rem;
            width: 9rem;
            transition: 0.4s ease;
            background: var(--bs-teal);

            a {
                color: var(--bs-dark);
            }
        }

        #menu:checked~.nav-content {
            visibility: visible;
            opacity: 1;
        }

        .nav-content a {
            padding: 0.125rem 0.625rem;
        }

        .nav-content a:hover {
            background-color: var(--bs-gray-700);
            color: white !important;
        }

        .nav-content:after {
            content: '';
            position: absolute;
            display: block;
            width: 0;
            z-index: 1;
            border-style: solid;
            border-width: 20px 20px 0 0;
            border-color: var(--bs-teal) transparent transparent transparent;
            top: 10px;
            right: -20px;
            margin-top: -10px;
        }
    }
}

.breadcrumb {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    right: 0.5rem;
    bottom: 50%;
    width: 50px;
    height: 100px;

    .nav-link {
        background: var(--bs-teal);
        border: 1px solid var(--bs-teal);
        width: 1rem;
        height: 1rem;
        transform: rotate(45deg);
        transition: transform .5s ease-in-out;
        cursor: pointer;
    }
}

section.home {
    background: linear-gradient(90deg, var(--bs-teal) 30%, var(--bs-dark) 30%);

    .container {
        padding: 7rem 0;
        margin: 0 auto;
        width: 100%;
        max-width: 1440px;

        .its-me {
            display: flex;
            flex-direction: row-reverse;
            padding: 10vh 0;
            width: 90%;
            justify-content: center;


            .info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                h1 {
                    font-weight: 900;
                    font-size: 3.5rem;
                }

                p {
                    font-weight: 300;
                    letter-spacing: 1px;
                    line-height: 0.5rem;
                    color: var(--bs-gray-100);
                }

                .hi {
                    color: var(--bs-gray-100);
                }

                .name {
                    text-transform: capitalize;
                    color: var(--bs-gray-100);
                    font-size: 5rem;
                    line-height: 3.8rem;
                }

                .role {
                    color: var(--bs-gray-100);
                    font-size: 3.2rem;
                    line-height: 2.5rem;
                    margin-bottom: 1rem;
                }
            }

            .pic img {
                width: 100%;
                max-width: 20rem;
                border-radius: 50%;
                transform: translate(-75px, -25px);
            }

        }
    }
}

.active {
    background: transparent !important;
    transform: rotate(0) !important;
}

section.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--bs-gray-300);

    a {
        color: var(--bs-dark) !important;
        transition: 0.4s ease;
        padding: 0.3125rem 0;
    }

    a:hover {
        background-color: var(--bs-teal);
        color: var(--bs-dark) !important;
    }

    .container {
        padding: 2rem 1rem;

        &.right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        h1 {
            font-weight: 900;
            font-size: 3.5rem;
        }

        h2 {
            font-weight: 900;
            font-size: 2.5rem;
        }

        p {
            font-weight: 300;
            line-height: .8rem;
        }

        i {
            font-size: 4rem;
        }

    }
}

section.project {
    background-color: var(--bs-dark);

    .container {
        padding: 2rem 0rem;

        .card {
            --bs-card-border-width: 0px;
            box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
            
            .img-card {
                width: 20rem;
                height: 19rem;
            }
            .card-body {
                width:20rem;
            }
        }
    }
}

.hidden { 
    opacity: 0;
    filter: blur(5px);
    transition: all 1s ease-in-out
}

.transform_left {
    transform: translate(-100px);
}

.transform_right {
    transform: translate(100px);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}

.down {
    transform: none;
}

@media (max-width: 425px) {


    .breadcrumb {
        display: none !important;
    }
    
    header {
        background: var(--bs-teal);
        width: 100vw;

        label span {
            background: var(--bs-dark) !important;
        }

        .nav-content {
            background: var(--bs-dark) !important;
            z-index: 9;

            a {
                color:var(--bs-teal) !important;
            }
            
        }

        .nav-content:after {
            border-color: var(--bs-dark) transparent transparent transparent !important;
        }   
    }

    

    section.home {

        .container {
            background: linear-gradient(180deg, var(--bs-teal) 30%, var(--bs-dark) 30%);

            .its-me {
                flex-direction: column-reverse;
                padding: 0;
                width: 100%;

                .info {
                    align-items: center;
                    text-align: center;

                    .role {
                        font-size: 2rem;
                    }
                }

                .pic img {
                    width: 80%;
                    margin-left: 50%;
                    transform: translate(-50%,0);
                }
            }
        }
    }

    section.about {
        .container {
            padding: 1rem;

            h1 {
                font-size: 2.5rem;
            }

            i {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.1rem;
                line-height: normal;
            }
        }
    }
}

@media (min-width: 2560px) {

    section.home {
        .container {
            background: linear-gradient(90deg, var(--bs-teal) 30%, var(--bs-dark) 30%);
        }
    }

    header {
        background: linear-gradient(90deg, var(--bs-teal) 38.8%, var(--bs-dark) 30%);
    }

}